{% extends 'default/style.html.twig' %}

{% block stylesheets %}

{% endblock %}


    {% set sliderCount = 3 %}


{% block menu %}

    <li data-slide="{{ sliderCount }}" class="col-12 col-sm-2 onPageLink"><a id="menu-link-{{ sliderCount }}" href="#contact" title="Next Section"><span class="icon icon-envelope"></span> <span class="text">CONTACT</span></a></li>
    <li class="col-12 col-sm-2"><a href="/login" title="Login"><span class="icon icon-key"></span> <span class="text">LOGIN</span></a></li>
    <li class="col-12 col-sm-2"><a href="/register" title="Login"><span class="icon icon-align-left"></span> <span class="text">REGISTER</span></a></li>
{% endblock %}

{% block slides %}

    <div class="slide story" id="contact" data-slide="{{ sliderCount }}">
        <div class="slide story" id="contact" data-slide="3">
            <div class="container">
                <div class="row title-row">
                    <div class="col-12 font-light">Neem <span class="font-semibold">contact</span> met ons op.</div>
                </div><!-- /row -->
                <div class="row line-row">
                    <div class="hr">&nbsp;</div>
                </div><!-- /row -->
                <div class="row subtitle-row">
                    <div class="col-sm-1 hidden-sm">&nbsp;</div>
                    <div class="col-12 col-sm-10 font-light">Druk op 1 van de knopjes hieronder</div>
                    <div class="col-sm-1 hidden-sm">&nbsp;</div>
                </div><!-- /row -->
                <div id="contact-row-4" class="row">
                    <div class="col-sm-1 hidden-sm">&nbsp;</div>

                    <div class="col-12 col-sm-2"></div>

                    <div class="col-12 col-sm-2 with-hover-text">
                        <p><a target="_blank" href="tel:0524632123"><i class="icon icon-phone"></i></a></p>
                        <span class="hover-text font-light ">0524-632123</span></a>
                    </div><!-- /col12 -->
                    <div class="col-12 col-sm-2 with-hover-text">
                        <p><a target="_blank" href="mailto:info@workshops-omega.com"><i class="icon icon-envelope"></i></a></p>
                        <span class="hover-text font-light ">info@workshops-omega.com</span></a>
                    </div><!-- /col12 -->
                    <div class="col-12 col-sm-2 with-hover-text">
                        <p><a target="_blank" href="#"><i class="icon icon-home"></i></a></p>
                        <span class="hover-text font-light ">Parallelweg 82<br />7786 QR<br />Hardenberg</span></a>
                    </div>
                    <div class="col-12 col-sm-2"></div>
                    <div class="col-sm-1 hidden-sm">&nbsp;</div>
                </div><!-- /row -->
            </div><!-- /container -->
        </div><!-- /Slide 6 -->
{% endblock %}