{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('bundles/AppBundle/css/login.css') }}" />
{% endblock %}
{% block body %}
<div class="login">
    <a class="back" href="/">back</a>
    <div class="heading">
        <h2>Login</h2>
    </div>
    <form action="{{ path('login_check') }}" method="post" class="form-group">
        {% if error %}
            <div class="response">{{ error.messageKey|trans(error.messageData) }}</div>
        {% endif %}

        <div class="input-group input-group-lg">
            <span class="input-group-addon"><i class="fa fa-user"></i></span>
            <input type="text" class="form-control" id="username" name="_username" value="{{ last_username }}"  placeholder="Gebruikersnaam of e-mail"/>
        </div>
        <div class="input-group input-group-lg">
            <span class="input-group-addon"><i class="fa fa-lock"></i></span>
            <input type="password" class="form-control" id="password" name="_password" placeholder="Wachtwoord" />
        </div>
        <button type="submit" class="float">Login</button>

    </form>
</div>
{% endblock %}
